body {
  background: white;
  padding: 0;
}

ul {
  padding: 0;
}

li {
  cursor: pointer;
  display: block;
  line-height: 42px;
  font-size: 24px;
  padding: 20px;
}

li:hover {
  background: #e3e3e3;
}

li:active {
  background: #ccc;
}

.timer {
  float: right;
}
